.App {
  text-align: center;
}


table {
  width: 40%;
  border-collapse: collapse;
  border: 1px solid rgba(82, 81, 81, 0.096);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

tr{
  border-top: 1px solid rgba(82, 81, 81, 0.096);
  height: 50px;
}

.button {
  width: 10%;
  background-color: white; 
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: black;
  padding: 20px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 15px 15px;
}

button:focus{
  background:rgba(219, 215, 106);
  outline: 0ch;
}
.Headings{
  font-size: 50px;
  font-weight: bold;
  color: rgb(184, 181, 181);
}