.App {
  margin: 0 2em;
}


table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid rgba(82, 81, 81, 0.096);
  margin: 0px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1)
}
.Type{
  padding-left: 15em;
}
td,th{
  padding: .5em 20px;
  width: 5px;
}
tr{
  border-top: 1px solid rgba(82, 81, 81, 0.096);
}

.button {
  width: 10em;
  height: 4em;
  background-color: white; 
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  color: black;
  text-align: center;
  display: inline-block;
  margin-right: 0.7em;
  margin-bottom: 2em;
}
.button:focus{
  background:rgba(219, 215, 106);
  outline: 0ch;
}
.active{
  background:rgba(219, 215, 106);
  outline: 0ch;
}
.Headings{
  margin: .5em 0;
  font-size: 2em;
  font-weight: bold;
  color: #d6d3d3
}
